# Ignore Python virtual environments
venv/
__pycache__/

# Ignore database files
*.db

# Ignore Alembic migration files
alembic/versions/

# Ignore Node.js related files
node_modules/

# Ignore Vue.js build artifacts
dist/
.cache/

# Ignore git toolbox files
git_toolbox_prj.xml

# Ignore Pycharm files
.idea

# Ignore static files
backend/storage/media/